body {
  font-family: 'Nixie One', cursive;
  max-width: 960px;
  background-color:beige;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  color:rgba(143, 112, 0, 0.902);
  font-weight: bolder;
  padding: 30px;
}

p {
  text-align: left;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px;
}

h2, h3, h4 {
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  color:rgba(143, 112, 0, 0.902);
}

footer {
  font-size: 14px;
  color: darkkhaki;
  padding: 8px;
}

footer a {
  color:olivedrab;
}

footer a:hover {
  color:rgba(143, 112, 0, 0.902);
}

