.Meaning section {
    background-color: #e2e5c9;
}  
.Meaning p {
    line-height: 8px;
    font-size: 9px;
}

.Meaning .example {
    color:olive;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    line-height: 10px;
}

.Meaning h3 {
    line-height: 30px;
}

