.Results section {
    padding: 20px;
    background-color: #e0e0af;
    margin: 20px 0 20px 0;
    line-height:15px;
    box-shadow: 8px 8px 6px #afaaaa;
    font-size: 13px;
    color:dimgrey;
}



.Results h2 {
    font-size: 30px;
}